<div class="selecting-avatar">
  <%= form.radio_button :icon, "https://www.bigideasfest.org/sites/default/files/imagecache/group_images_showcase/default-group.png", checked: true, class: 'radio-default' %>
  <div>
    <img class="avatar-img" src="https://www.kindpng.com/picc/m/417-4174897_transparent-tax-icon-png-blue-tax-icon-png.png" alt="avatar1">
    <br>
    <%= form.radio_button :icon, "https://www.kindpng.com/picc/m/417-4174897_transparent-tax-icon-png-blue-tax-icon-png.png" %>
  </div>
  <div>
    <img class="avatar-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFAQcX_Wd5qOVq73nHbO26nIeWX5cvNkglhA&usqp=CAU" alt="avatar2">
    <br>
    <%= form.radio_button :icon, "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFAQcX_Wd5qOVq73nHbO26nIeWX5cvNkglhA&usqp=CAU" %>
  </div>
  <div>
    <img class="avatar-img" src="https://www.iconfinder.com/data/icons/planner-color/64/popcorn-movie-time-512.png" alt="avatar3">
    <br>
    <%= form.radio_button :icon, "https://www.iconfinder.com/data/icons/planner-color/64/popcorn-movie-time-512.png" %>
  </div>
  <div>
    <img class="avatar-img" src="https://b7.pngbarn.com/png/535/527/wireless-router-computer-icons-wi-fi-computer-network-wifi-router-png-clip-art.png" alt="avatar4">
    <br>
    <%= form.radio_button :icon, "https://b7.pngbarn.com/png/535/527/wireless-router-computer-icons-wi-fi-computer-network-wifi-router-png-clip-art.png" %>
  </div>
  <div>
    <img class="avatar-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSu6aBagvPCPcbi4P5h0Ar6FLS6aZo15hp_-A&usqp=CAU" alt="avatar5">
    <br>
    <%= form.radio_button :icon, "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSu6aBagvPCPcbi4P5h0Ar6FLS6aZo15hp_-A&usqp=CAU" %>
  </div>
  <div>
    <img class="avatar-img" src="https://image.flaticon.com/icons/png/512/1466/1466668.png" alt="avatar6">
    <br>
    <%= form.radio_button :icon, "https://image.flaticon.com/icons/png/512/1466/1466668.png" %>
  </div>
  <div>
    <img class="avatar-img" src="https://icon-library.com/images/utilities-icon/utilities-icon-1.jpg" alt="avatar7">
    <br>
    <%= form.radio_button :icon, "https://icon-library.com/images/utilities-icon/utilities-icon-1.jpg" %>
  </div>
  <div>
    <img class="avatar-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Circle-icons-car.svg/1024px-Circle-icons-car.svg.png" alt="avatar8">
    <br>
    <%= form.radio_button :icon, "https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Circle-icons-car.svg/1024px-Circle-icons-car.svg.png" %>
  </div>
</div>