<%= information_rendering %>
<br>
<br>
<div class="main-space">
<%= form_with(model: group, local: true) do |form| %>
  <%= form.hidden_field :creator_id, value: session[:user_id] %>

  <div class="field">
    <%= form.label :name, class: "text-label font-med-blue" %>
    <br>
    <%= form.text_field :name, class: "text-input" %>
  </div>
  <br>
  <div class="field">
    <%= render partial: 'avatar', locals: {form: form }%>
    <br>
    <%= form.label :avatar_url,value: "Select the group icon", class: "text-label font-med-blue" %><br>
  </div>
  <br>
  <div class="actions new-expense">
    <%= form.submit 'Create New Group', :class => "pseudo-button orange" %>
  </div>
<% end %>
</div>
