<p id="notice"><%= notice %></p>
<%= link_to '/groups' do %>
  <span class="small-button back-button font-green">Groups</span>
<% end %>
<div class="banner group-info">
  <img class="object-image" src=<%= @group.icon %> alt="" />
  <h1>Group: <%= @group.name %></h1>
  <br>
  <h3>Created by: <%= @group.creator.name%></h3>
  <br>
  <h3>Created on: <%= @group.created_at.strftime('%e-%b-%Y')%></h3>
</div>

<h1 class="font-light-blue">Expenses for this group</h1>

<%= render partial: "layouts/expenselist", locals: { expenses: @group_expenses } %>

<%= link_to "/expenses/new/#{@group.id}" do %>
  <span class="pseudo-button green new-expense">New Expense for <%= @group.name %></span>
<% end %>
