<div class="selecting-avatar">
  <%= form.radio_button :avatar_url, "https://d1u1amw606tzwl.cloudfront.net/assets/users/avatar-default-96007ee5610cdc5a9eed706ec0889aec2257a3937d0fbb747cf335f8915f09b2.png", checked: true, class: 'radio-default' %>
  <div>
    <img class="avatar-img" src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39024/preview.png" alt="avatar1">
    <br>
    <%= form.radio_button :avatar_url, "https://d29fhpw069ctt2.cloudfront.net/icon/image/39024/preview.png" %>
  </div>
  <div>
    <img class="avatar-img" src="https://library.kissclipart.com/20181005/pe/kissclipart-gif-me-preocupas-clipart-sina-weibo-avatar-clip-ar-8505f646feab9d9f.png" alt="avatar2">
    <br>
    <%= form.radio_button :avatar_url, "https://library.kissclipart.com/20181005/pe/kissclipart-gif-me-preocupas-clipart-sina-weibo-avatar-clip-ar-8505f646feab9d9f.png" %>
  </div>
  <div>
    <img class="avatar-img" src="https://icons.iconarchive.com/icons/wikipedia/flags/512/UG-Uganda-Flag-icon.png" alt="avatar3">
    <br>
    <%= form.radio_button :avatar_url, "https://icons.iconarchive.com/icons/wikipedia/flags/512/UG-Uganda-Flag-icon.png" %>
  </div>
  <div>
    <img class="avatar-img" src="https://cdn.countryflags.com/thumbs/rwanda/flag-400.png" alt="avatar4">
    <br>
    <%= form.radio_button :avatar_url, "https://cdn.countryflags.com/thumbs/rwanda/flag-400.png" %>
  </div>
  <div>
    <img class="avatar-img" src="https://www.iconfinder.com/data/icons/animals-1-1/512/9-512.png" alt="avatar5">
    <br>
    <%= form.radio_button :avatar_url, "https://www.iconfinder.com/data/icons/animals-1-1/512/9-512.png" %>
  </div>
  <div>
    <img class="avatar-img" src="https://cdn.shopify.com/s/files/1/2123/8425/products/169070636-LRG_530x.jpg?v=1578675882" alt="avatar6">
    <br>
    <%= form.radio_button :avatar_url, "https://cdn.shopify.com/s/files/1/2123/8425/products/169070636-LRG_530x.jpg?v=1578675882" %>
  </div>
  <div>
    <img class="avatar-img" src="https://thumbs.dreamstime.com/b/estrellas-venezuela-arepa-venezuelan-typical-food-eight-stars-s-flag-162092128.jpg" alt="avatar7">
    <br>
    <%= form.radio_button :avatar_url, "https://thumbs.dreamstime.com/b/estrellas-venezuela-arepa-venezuelan-typical-food-eight-stars-s-flag-162092128.jpg" %>
  </div>
  <div>
    <img class="avatar-img" src="https://www.iconfinder.com/data/icons/america-asia-oceania-africa-3/100/Peru-512.png" alt="avatar8">
    <br>
    <%= form.radio_button :avatar_url, "https://www.iconfinder.com/data/icons/america-asia-oceania-africa-3/100/Peru-512.png" %>
  </div>
</div>