<div class="profile">
  <img class="avatar" src=<%= @user.avatar_url %> />
  <br><br>
  <h1 class="user-name"><%= @user.name.capitalize %></h1>
  <br><br><br>
  <%= link_to '/mytransactions' do %>
    <span class="pseudo-button light-blue">My Expenses</span></a>
  <% end %>
  <br><br>
  <%= link_to '/myexternal' do %>
    <span class="pseudo-button orange">External Expenses</span></a>
  <% end %>
  <br><br>
  <%= link_to '/groups' do %>
    <span class="pseudo-button green">My Groups</span></a>
  <% end %>
  <br><br>
</div>
