<p id="notice"><%= notice %></p>

<div class="profile">
  <img class="avatar" src=<%= @user.avatar_url %> />
  <br><br>
  <h1><%= @user.name %></h1>
  <br><br><br>
  <%= link_to '/mytransactions' do %>
    <span class="pseudo-button light-blue">My Expenses</span></a>
  <% end %>
  <br><br>
  <%= link_to '/myexternal' do %>
    <span class="pseudo-button med-blue">External Expenses</span></a>
  <% end %>
  <br><br>
  <%= link_to '/groups' do %>
    <span class="pseudo-button dark-blue">My Gropus</span></a>
  <% end %>
  <br><br>
  <%= link_to 'Edit Your Profile', edit_user_path(@user) %>
</div>
