<div class="banner">
  <h1 class="font-light-blue">Welcome to Money Monster</h1>
</div>
<div class="main-space">
<%= form_for(@user,  url: "/access", method: :post) do |form| %>
  <div class="field">
    <%= form.label :name, "Enter your name", class: "text-label font-med-blue" %><br><br>
    <%= form.text_field :name, class: "text-input" %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= form.submit 'Sign In', :class => "pseudo-button green"%>
  </div>
<% end %>
<br>
New to Money Monster? <b><%= link_to 'Create a New User', new_user_path %></b>
<br>
<%= link_to 'Back', '/' %>
</div>
