<p id="notice"><%= notice %></p>

<h1>All <%= session[:user_name]%>'s Expenses</h1>
<h2>Grand total for expenses: $<%= @expenses.sum(:amount) %></h2>
<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Expense Description</th>
      <th>Amount</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.author.name %></td>
        <td><%= expense.name %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.created_at.strftime('%e-%b-%Y') %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Delete', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
