<p id="notice"><%= notice %></p>
<%= link_to "/users/#{session[:user_id]}" do %>
  <span class="small-button back-button font-green">Profile</span>
<% end %>
<div class="banner">
  <h1>All <%= session[:user_name]%>'s Expenses</h1>
</div>
<div class="object-display total-amount">
    <div class="object-info total">
      <h2>Grand total for expenses:</h2>
    </div>
    <div class="object-amount total-result">
      $<%= @expenses.sum(:amount) %>
    </div>
  </div>
<% @expenses.each do |expense| %>
  <%= link_to expense do %></td>
  <div class="object-display">
    <img class="object-image" src=<%= get_group_icon(expense) %> alt="" />
    <div class="object-info">
      <h3><%= expense.name %></h3>
      <%= expense.created_at.strftime('%e-%b-%Y') %>
    </div>
    <div class="object-amount">
      $<%= expense.amount %>
    </div>
  </div>
  <% end %>
<% end %>
<br>

<%= link_to '/expenses/new/0' do %>
  <span class="pseudo-button green new-expense">New Expense</span>
<% end %>
