<% expenses.each do |expense| %>
  <%= link_to expense do %></td>
  <div class="object-display">
    <img class="object-image" src=<%= get_group_icon(expense) %> alt="" />
    <div class="object-info">
      <h3><%= expense.name %></h3>
      Created by: <%= expense.author.name %><br>
      <%= expense.created_at.strftime('%e-%b-%Y') %>
    </div>
    <div class="object-amount">
      $<%= ActiveSupport::NumberHelper.number_to_delimited(expense.amount) %>
    </div>
  </div>
  <% end %>
<% end %>