<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <%= link_to 'Log Out', '/access', method: 'delete' %>
    <%= link_to 'All my expenses', '/mytransactions'%>
    <%= link_to 'My groups', '/groups'%>
    <%= yield %>
  </body>
</html>
